@{
    ViewData["Title"] = "Home Page";
    Layout = "../Shared/web_layout.cshtml";
}


<script>
    var myLinkElement = document.getElementById("homeTab");
    myLinkElement.classList.toggle("active");
</script>

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <img autoplay muted loop id="bg-video" src="~/web/assets/images/back4.jpg">
    </img>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>Reach New Horizons</h6>
            <h2>Best <em>Aircraft </em>dealers!</h2>
            <div class="main-button">
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Cars Starts ***** -->
<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Featured <em>Aircrafts</em></h2> <br>
                    <p>
                        Dive into Excellence: Unveiling Our Handpicked Selection of Featured Aircrafts Where Every
                        Journey is a Masterpiece in
                        the Sky
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="trainer-item" style="height:440px">
                    <div class="image-thumb">
                        <img src="~/web/assets/images/1.jpg" alt="" style="height:238px">
                    </div>
                    <div class="down-content">
                        <span style="font-size:18px">
                            $3,500,000.00
                        </span>

                        <h4>Cirrus Vision SF50</h4>

                        <p>
                            <i class="fa fa-dashboard"></i> 446 knots &nbsp;&nbsp;&nbsp;
                            <i class="fa fa-cube"></i> 2,700 nautical miles &nbsp;&nbsp;&nbsp;
                        </p>

                        <ul class="social-icons" style="float:right;font-size:13px;">
                            <li><a href="car-details.html">+ More Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item" style="height:440px">
                    <div class="image-thumb">
                        <img src="~/web/assets/images/4.jpg" alt="" style="height:238px">
                    </div>
                    <div class="down-content">
                        <span style="font-size:18px">
                            $1,170,000.00
                        </span>

                        <h4>Cessna Citation Latitude</h4>

                        <p>
                            <i class="fa fa-dashboard"></i> 446 knots &nbsp;&nbsp;&nbsp;
                            <i class="fa fa-cube"></i> 2,700 nautical miles &nbsp;&nbsp;&nbsp;
                        </p>

                        <ul class="social-icons" style="float:right;font-size:13px;">
                            <li><a href="car-details.html">+ More Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item" style="height:440px">
                    <div class="image-thumb">
                        <img src="~/web/assets/images/7.png" alt="" style="height:238px">
                    </div>
                    <div class="down-content">
                        <span style="font-size:18px">
                            $2,200,000.00
                        </span>

                        <h4>Bombardier Global 7500</h4>

                        <p>
                            <i class="fa fa-dashboard"></i> 446 knots &nbsp;&nbsp;&nbsp;
                            <i class="fa fa-cube"></i> 2,700 nautical miles &nbsp;&nbsp;&nbsp;
                        </p>

                        <ul class="social-icons" style="float:right;font-size:13px;">
                            <li><a href="car-details.html">+ More Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="main-button text-center">
            <a href="cars.html" class="btnblue">View Aircrafts</a>
        </div>
    </div>
</section>
<!-- ***** Cars Ends ***** -->
<!-- ***** Call to Action Start ***** -->
<section class="section section-bg" id="call-to-action"
         style="background-image: url(~/web/assets/images/banner-image-1-1920x500.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <h2>Send us a <em>message</em></h2>
                    <p>
                        Your Gateway to Seamless Aviation Solutions! We're here to answer your inquiries and make
                        your aircraft dreams take
                        flight
                    </p>
                    <div class="main-button">
                        <a href="contact.html" class="btnblue">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->
<!-- ***** Testimonials Item Start ***** -->
<section class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Read our <em>Testimonials</em></h2><br>
                    <p>
                        Dive into the Experiences of Our Valued Clients. Read Our Testimonials and Let Satisfied
                        Customers Speak for Our
                        Commitment to Excellence
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="~/web/assets/images/t4.jpg" style="width:20%" alt="First One">
                        </div>
                        <div class="right-content">
                            <h4>John Doe</h4>
                            <p>
                                <em>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta numquam maxime
                                    voluptatibus, impedit sed! Necessitatibus repellendus sed deleniti id et!"
                                </em>
                            </p>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="~/web/assets/images/t3.jpg" style="width:20%" alt="second one">
                        </div>
                        <div class="right-content">
                            <h4>John Doe</h4>
                            <p>
                                <em>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta numquam maxime
                                    voluptatibus, impedit sed! Necessitatibus repellendus sed deleniti id et!"
                                </em>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="~/web/assets/images/t1.jpg" style="width:20%" alt="fourth muscle">
                        </div>
                        <div class="right-content">
                            <h4>John Doe</h4>
                            <p>
                                <em>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta numquam maxime
                                    voluptatibus, impedit sed! Necessitatibus repellendus sed deleniti id et!"
                                </em>
                            </p>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="~/web/assets/images/t2.jpg" style="width:20%" alt="training fifth">
                        </div>
                        <div class="right-content">
                            <h4>John Doe</h4>
                            <p>
                                <em>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta numquam maxime
                                    voluptatibus, impedit sed! Necessitatibus repellendus sed deleniti id et!"
                                </em>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <br>
    </div>
</section>
<!-- ***** Testimonials Item End ***** -->
