@{
    ViewData["Title"] = "Aircraft Gallery";
    Layout = "../Shared/web_layout.cshtml";
}


<script>
    var myLinkElement = document.getElementById("aircraftTab");
    myLinkElement.classList.toggle("active");
</script>

<!-- ***** Call to Action Start ***** -->
<section class="section section-bg" id="call-to-action" style="background-image: url('/web/assets/images/back8.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                    <h2> <em>Checkout</em></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->
<!-- ***** Fleet Starts ***** -->
<br>
<br>

<section class="section" id="trainers">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-lg-6">
                <img style="height: 180px; width:250px;object-fit: cover;margin-bottom:5px" src="~/web/assets/images/4.jpg"
                     alt="Second slide">
                <p style="float:right;text-align:right">
                    <span style="font-size:20px;color:#0073e6">Cirrus Vision SF50 </span><br>
                    <span style="font-size:17px;color:#808080">$3,500,000.00 </span>
                </p>
                <br><br>
                <p><b>Seating -</b> Club Seating</p>
                <p><b>Interior -</b> Luxury Materials</p>
                <p><b>Connectivity -</b> Cabin Management Systems (CMS)</p>
                <p><b>Entertainment -</b> Multiple Display Screens, Live TV</p>

                <hr>
                <div class="row datadiv">
                    <div class="col-lg-6">
                        <label style="font-size:14px !important">
                            Passenger Capacity: <br> <span style="color:#808080">
                                5
                                max
                            </span>
                        </label>
                        <br><label style="font-size:14px !important">
                            Cabin Dimensions:<br> <span style="color:#808080">
                                Width 4.8
                                ft
                                <br>Height 4.7 ft
                                <br>Length 9.8 ft
                            </span>
                        </label>

                    </div>

                    <div class="col-lg-6">
                        <label style="font-size:14px !important">
                            Baggage Capacity:<br> <span style="color:#808080">
                                63.0 cu. ft
                            </span>
                        </label>
                        <br><label style="font-size:14px !important">Range:<br> <span style="color:#808080">2 Hours</span></label>
                        <br><label style="font-size:14px !important">
                            Speed:<br> <span style="color:#808080">
                                20
                                knots
                            </span>
                        </label>

                        <br>
                    </div>
                    <div class="col-lg-12">
                        <br>
                        <p style="text-align: justify;">
                            The Citation Mustang is a very light jet with spirit of a heavier jet. The
                            speed and range of the
                            performance inspired
                            Mustang will tackle the sky while delivering the efficiency of a lighter aircraft. It’s aerodynamic
                            design
                            and advanced
                            technology excels in short-field performance situations. The cozy interior boasts amazing finishes and
                            the
                            highest-quality materials for the upper class luxury you come to expect in a business jet. The Mustang’s
                            cabin has six
                            large oval windows which provide incredible views and abundant natural light. Looking to rent a private
                            jet
                            like the
                            Citation Mustang? Visit our Charter page for a free quote.
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-lg-1"></div>
            <div class="col-lg-5"
                 style="height:520px;background-color: #f2f2f2;padding:20px;padding-left: 25px;padding-right: 25px;">
                <center>
                    Receipt Summary <br>
                    <hr>
                </center>
                <div class="row">
                    <div class="col-lg-6">
                        <p>Sub Total</p> <br>
                        <p>Seating </p><br>
                        <p>Interior</p><br>
                        <p>Connectivity Plan</p><br>
                        <p>Entertaintment Plan</p><br>
                        <p>Vat</p><br>
                        <p>Total Amount</p>
                    </div>
                    <div class="col-lg-6" style="text-align:right">
                        <p>$3,500,000.00</p> <br>
                        <p>$5,000.00</p><br>
                        <p>$25,000.00</p><br>
                        <p>$2,500.00</p><br>
                        <p>$5,000.00</p><br>
                        <p>$1,000.00</p><br>
                        <p>$3,528,000.00</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <br><br>
                        <center>
                            <a href="checkout.html"
                               style="font-size:12px;background-color: white;border:1px solid #1c2331;color:#1c2331;padding:10px;padding-left: 30px;padding-right: 30px;">Cancel</a>
                            &nbsp;
                            <a href="#"
                               style="font-size:12px;border:1px solid #1c2331;background-color:#1c2331; color:white;padding:10px;padding-left: 30px;padding-right: 30px;"
                               c>Proceed</a>
                        </center>
                    </div>
                </div>
            </div>

        </div>



    </div>
</section>
<!-- ***** Fleet Ends ***** -->
