@{
    ViewData["Title"] = "Customer List";
    Layout = "../Shared/admin_layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-d3I2RTOmVbKA9taV4ZabVYqq7Hg9yQr8ZfNlSlaKt/aPP6rDQa4fP+JFMEbfH1A" crossorigin="anonymous">

<script>
    $(document).ready(function () {
        $("#customerManagement").addClass("active");
        $("#customer_pref").addClass("active");
        $("#customerManagement_block").css("display", "block");
    });

</script>

<!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <p>Category Register</p>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <p style='font-size:16px;font-weight:bold'>Item Category Registration</p>
                                </div>

                                <div class="x_content">
                                    <br />
                                 
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // Attach change event listener to catType dropdown
        $('#catType').change(function () {
            // Get the selected value
            var selectedValue = $(this).val();

            // Show/hide mainCat and subCat based on the selected value
            if (selectedValue === 'Main') {
                $('#mainCat').show();
                $('#subCat').hide();
            } else if (selectedValue === 'Sub') {
                $('#mainCat').hide();
                $('#subCat').show();
            } else {
                $('#mainCat').hide();
                $('#subCat').hide();
            }
        });
    </script>

    <!-- /page content -->
