@{
    ViewData["Title"] = "Aircraft Gallery";
    Layout = "../Shared/web_layout.cshtml";
}


<script>
    var myLinkElement = document.getElementById("myAccount");
    myLinkElement.classList.toggle("active");
</script>

<!-- ***** Call to Action Start ***** -->
<section class="section section-bg" id="call-to-action" style="background-image: url('/web/assets/images/back12.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                    <h2> <em>Order Tracking</em></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->
<!-- ***** Fleet Starts ***** -->
<br>
<br>

<section class="section" id="trainers">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-lg-4">
                <img style="height: 180px; width:250px;object-fit: cover;margin-bottom:5px" src="~/web/assets/images/4.jpg"
                     alt="Second slide">
            </div>
            <div class="col-lg-6">
                <span style="font-size:20px;color:#0073e6">Cirrus Vision SF50 </span><br>
                <span style="font-size:17px;color:#808080">$3,500,000.00 </span>
                <hr>
                <p><b>Seating -</b> Club Seating</p>
                <p><b>Interior -</b> Luxury Materials</p>
                <p><b>Connectivity -</b> Cabin Management Systems (CMS)</p>
                <p><b>Entertainment -</b> Multiple Display Screens, Live TV</p>
                <hr>
                Order Tracking Details
                <p>Status - </p>
                <p>Details - </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
            </div>
        </div>

    </div>
</section>
<!-- ***** Fleet Ends ***** -->
