@{
    ViewData["Title"] = "Aircraft Gallery";
    Layout = "../Shared/web_layout.cshtml";
}


<script>
    var myLinkElement = document.getElementById("myAccount");
    myLinkElement.classList.toggle("active");
</script>

<!-- ***** Call to Action Start ***** -->
<section class="section section-bg" id="call-to-action" style="background-image: url('/web/assets/images/back3.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                    <h2>Owned <em> Aircrafts</em></h2>
                    <p>Explore information and specifications about your Aircrafts</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="trainers">
    <div class="container">
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-lg-4">
                <div class="trainer-item" style="height:440px">
                    <div class="image-thumb">
                        <img src="~/web/assets/images/1.jpg" alt="" style="height:238px">
                    </div>
                    <div class="down-content">
                        <span style="font-size:18px">
                            $3,500,000.00
                        </span>

                        <h4>Cirrus Vision SF50</h4>

                        <p>
                            <i class="fa fa-dashboard"></i> 446 knots &nbsp;&nbsp;&nbsp;
                            <i class="fa fa-cube"></i> 2,700 nautical miles &nbsp;&nbsp;&nbsp;
                        </p>

                        <ul class="social-icons" style="float:right;font-size:13px;">
                            <li><a asp-action="OwnedSingle" asp-controller="Customer">+ More Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item" style="height:440px">
                    <div class="image-thumb">
                        <img src="~/web/assets/images/4.jpg" alt="" style="height:238px">
                    </div>
                    <div class="down-content">
                        <span style="font-size:18px">
                            $1,170,000.00
                        </span>

                        <h4>Cessna Citation Latitude</h4>

                        <p>
                            <i class="fa fa-dashboard"></i> 446 knots &nbsp;&nbsp;&nbsp;
                            <i class="fa fa-cube"></i> 2,700 nautical miles &nbsp;&nbsp;&nbsp;
                        </p>

                        <ul class="social-icons" style="float:right;font-size:13px;">
                            <li><a asp-action="OwnedSingle" asp-controller="Customer">+ More Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item" style="height:440px">
                    <div class="image-thumb">
                        <img src="~/web/assets/images/7.png" alt="" style="height:238px">
                    </div>
                    <div class="down-content">
                        <span style="font-size:18px">
                            $2,200,000.00
                        </span>

                        <h4>Bombardier Global 7500</h4>

                        <p>
                            <i class="fa fa-dashboard"></i> 446 knots &nbsp;&nbsp;&nbsp;
                            <i class="fa fa-cube"></i> 2,700 nautical miles &nbsp;&nbsp;&nbsp;
                        </p>

                        <ul class="social-icons" style="float:right;font-size:13px;">
                            <li><a asp-action="OwnedSingle" asp-controller="Customer">+ More Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- ***** Fleet Ends ***** -->
