@{
    ViewData["Title"] = "Aircraft Gallery";
    Layout = "../Shared/web_layout.cshtml";
}


<script>
    var myLinkElement = document.getElementById("myAccount");
    myLinkElement.classList.toggle("active");
</script>

<!-- ***** Call to Action Start ***** -->
<section class="section section-bg" id="call-to-action" style="background-image: url('/web/assets/images/back9.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                    <h2> <em>Cirrus Vision SF50</em></h2>
                    <p style="font-size:22px">$3,500,000.00</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->
<!-- ***** Fleet Starts ***** -->
<br>
<br>
<br>
<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" style="height: 400px; object-fit: cover;" src="~/web/assets/images/1.jpg"
                                 alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" style="height: 400px; object-fit: cover;" src="~/web/assets/images/4.jpg"
                                 alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" style="height: 400px; object-fit: cover;" src="~/web/assets/images/7.png"
                                 alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Passenger Capacity:</label>
                        <p>5 max</p>
                        <br><label>Cabin Dimensions:</label>
                        <p>Width 4.8 ft</p>
                        <p>Height 4.7 ft</p>
                        <p>Length 9.8 ft</p>
                        <br><label>Speed:</label>
                        <p>20 knots</p>

                    </div>

                    <div class="col-lg-6">
                        <label>Baggage Capacity:</label>
                        <p>63.0 cu. ft </p>
                        <br><label>Range:</label>
                        <p>2 Hours</p>
                        <br><label>Feul Burning:</label>
                        <p>2 hours</p>

                        <br>
                    </div>
                    <div class="col-lg-12">
                        <br>
                        <center>
                            <img src="~/web/assets/images/221.gif" alt="">
                        </center>

                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <br>
                <p>
                    The Citation Mustang is a very light jet with spirit of a heavier jet. The speed and range of the
                    performance inspired
                    Mustang will tackle the sky while delivering the efficiency of a lighter aircraft. It’s aerodynamic design
                    and advanced
                    technology excels in short-field performance situations. The cozy interior boasts amazing finishes and the
                    highest-quality materials for the upper class luxury you come to expect in a business jet. The Mustang’s
                    cabin has six
                    large oval windows which provide incredible views and abundant natural light. Looking to rent a private jet
                    like the
                    Citation Mustang? Visit our Charter page for a free quote.
                </p>
                <br><br>
                
            </div>
        </div>
    </div>
</section>
<!-- ***** Fleet Ends ***** -->